{% extends 'startpage.html' %}
{% load static %}

{% block content %}

<H1>About</H1>

   <div class="container mt-5">
  <div class="row text-center">

    <!-- Service #1: User Profile -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-person-circle" style="font-size: 3rem; color: #007bff;"></i>
        </div>
        <h4>User Profile</h4>
        <p>Create and customize your personal profile and share your experiences.</p>
      </div>
    </div>

    <!-- Service #2: Messaging -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-chat-dots" style="font-size: 3rem; color: #28a745;"></i>
        </div>
        <h4>Forums</h4>
        <p> Engage in real-time conversations.</p>
      </div>
    </div>

    <!-- Service #3: Notifications -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-bell" style="font-size: 3rem; color: #ffc107;"></i>
        </div>
        <h4>Explore</h4>
        <p>Stay up-to-date with recent activities and important updates.</p>
      </div>
    </div>

    <!-- Service #4: News Feed -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-newspaper" style="font-size: 3rem; color: #17a2b8;"></i>
        </div>
        <h4>News Feed</h4>
        <p>Discover what's trending, get updates and share interesting content.</p>
      </div>
    </div>

    <!-- Service #5: Group Chats -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-person-check" style="font-size: 3rem; color: #dc3545;"></i>
        </div>
        <h4>Bio</h4>
        <p>Share your accomplishments and information and connect with others.</p>
      </div>
    </div>

    <!-- Service #6: Media Sharing -->
    <div class="col-md-4 mb-4">
      <div class="service-item p-4 border rounded shadow-sm">
        <div class="icon mb-3">
          <i class="bi bi-camera" style="font-size: 3rem; color: #6f42c1;"></i>
        </div>
        <h4>Media Sharing</h4>
        <p>Share photos, videos, and other media files.</p>
      </div>
    </div>

  </div>
</div>


        <h2>Location</h2>
        <p>Where to find us</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63821.02572115355!2d36.756099644856945!3d-1.285532467758787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1729712995391!5m2!1sen!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
